{% extends '::base.html.twig' %}

{% block title %}{{ seo_title }}{% endblock %}
{% block description %}{{ seo_description }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/bundles/renelemswebsite/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('/bundles/renelemswebsite/css/main.css') }}" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ asset('/bundles/renelemswebsite/js/main.js') }}"></script>
	
{% endblock %}

{% block body %}

<div id="wrap">
<div class="white_bar"></div>
<div class="container">
	<div id="header">
		{% block menu %}
		<div id="menu">
			<h1 class="pull-left logo"><a href="{{ path('renelems_home') }}" id="home_btn">ReneLems.nl</a></h1>
			<ul class="pull-right">
				<li class="green_bg pull-left"><a href="" class="{% if menu == 'service' %}active{% endif %}"><img src="{{ asset('/bundles/renelemswebsite/images/icons/services.png') }}" />Diensten</a></li>
				<li class="blue_bg pull-left"><a href="" class="{% if menu == 'project' %}active{% endif %}"><img src="{{ asset('/bundles/renelemswebsite/images/icons/projects.png') }}" />Projecten</a></li>
				<li class="yellow_bg pull-left"><a href="" class="{% if menu == 'contact' %}active{% endif %}"><img src="{{ asset('/bundles/renelemswebsite/images/icons/contact.png') }}" />Contact</a></li>
			</ul>
		</div>
		{% endblock %}
	</div>
	<div id="content-wrapper">
    	<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
</div>
</div>
<div id="footer">
	<div class="container">
		<p class="pull-left contact-me">Contact me at: <a href="mailto:info@renelems.nl" class="underline"><strong>info@renelems.nl</strong></a></p>
		<ul class="pull-right" id="footer-menu">
			<li><a href="{{ path('renelems_home') }}" class="home {% if menu == 'home' %}active{% endif %}">Home</a></li>
			<li><a href="" class="service {% if menu == 'service' %}active{% endif %}">Diensten</a></li>
			<li><a href="" class="project {% if menu == 'project' %}active{% endif %}">Projecten</a></li>
			<li><a href="{{ path('renelems_contact') }}" class="contact {% if menu == 'contact' %}active{% endif %}">Contact</a></li>
		</ul>
	</div>
</div>
<div id="left-menu">
	<ul>
		<li><a href="" class="service">
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/services-left.png') }}" class="non-hover" />
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/services-small.png') }}" class="hover" />
		</a></li>
		<li><a href="" class="project {% if menu == 'project' %}active{% endif %}">
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/projects-left.png') }}" class="non-hover" />
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/projects-small.png') }}" class="hover" />
		</a></li>
		<li><a href="" class="contact {% if menu == 'contact' %}active{% endif %}">
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/contact-left.png') }}" class="non-hover" />
			<img src="{{ asset('/bundles/renelemswebsite/images/icons/contact-small.png') }}" class="hover" />
		</a></li>
	</ul>
</div>
<script type="text/javascript">
{% block javascripts_footer %}
		var colors = ['#2e8236', '#2c89a4', '#dcb84c'];
		$('#home_btn').hover(function() {
			var random_color = colors[Math.floor(Math.random() * colors.length)];
			$(this).css('color', random_color);
		}, function() {
			$(this).css('color', '');
		});
		$('#footer-menu li a.home').hover(function() {
			if(!$('#footer-menu li a.home').hasClass('active')) {
				var random_color = colors[Math.floor(Math.random() * colors.length)];
				$(this).css('color', random_color);
			}
		}, function() {
			if(!$('#footer-menu li a.home').hasClass('active')) {
				$(this).css('color', '');
			}
		});
		var random_color = colors[Math.floor(Math.random() * colors.length)];
		$('#footer-menu li a.home.active').css('color', random_color);
		
{% endblock %}
</script>
{% endblock %}
