{% extends 'RenelemsBackofficeBundle::layout.html.twig' %}

{% block content %}
<div class="record_actions">
    <a href="{{ path('admin_admin') }}">&laquo; Terug naar de lijst</a>
</div>

<h2>Gebruiker bewerken</h2>

{% include "RenelemsBackofficeBundle:Partials:notice.html.twig" %}

<form action="{{ path('admin_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} id="edit_form">
    {{ form_errors(edit_form)}}
    {{ form_widget(edit_form)}}
    <button type="submit">Bijwerken</button>
</form>

<div class="record_actions">
    <a href="{{ path('admin_admin') }}">&laquo; Terug naar de lijst</a>
</div>

{% endblock %}