{% extends '::base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="/bundles/renelemsbackoffice/css/admin.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/bundles/renelemsbackoffice/js/admin.js"></script>
{% endblock %}

{% block body %}
	<div id="topBar">
		<h1>Renelems.nl</h1>
		<ul class="logout">
			<li><a href="{{ path("admin_logout") }}">Uitloggen</a></li>
		</ul>
	</div>
	{% block menu %}
	<div id="menu">
		<ul>
			<li><a href="{{ path("admin_project") }}">Projecten</a></li>
			<li class="end"><a href="{{ path("admin_admin") }}">Gebruikers</a></li>
		</ul>
	</div>
	{% endblock %}
	<div id="content_wrapper">
    	<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>			
{% endblock %}